PAPERMAN_DATA_DIR=./data
# For Compose, use an absolute directory on the mounted SSD.
# PAPERMAN_DATA_DIR=/srv/homestack/paperman
# PAPERMAN_UID=1000
# PAPERMAN_GID=1000
# PAPERMAN_MODEL_API_KEY=local
